
<h3>Jabuti grid one</h3>
<ngx-jabuti-grid [row]="true">
  <ngx-jabuti-grid [column]="true" sm="12" md="4">
    <h1>Column1</h1>
  </ngx-jabuti-grid>
  <ngx-jabuti-grid [column]="true" sm="12" md="4">
    <h1>Column2</h1>
  </ngx-jabuti-grid>
  <ngx-jabuti-grid [column]="true" sm="12" md="4">
    <h1>Column3</h1>
  </ngx-jabuti-grid>

</ngx-jabuti-grid>
<hr>
<h3>Jabuti grid two</h3>
<ngx-jabuti-grid expanded="row expanded">
  <ngx-jabuti-grid [column]="true" sm="12" md="4">
    <h1>Column1</h1>
  </ngx-jabuti-grid>
  <ngx-jabuti-grid [column]="true" sm="12" md="4">
    <h1>Column2</h1>
  </ngx-jabuti-grid>
  <ngx-jabuti-grid [column]="true" sm="12" md="4">
    <h1>Column3</h1>
  </ngx-jabuti-grid>

</ngx-jabuti-grid>
<hr>
<h3>Jabuti grid three</h3>

<ngx-jabuti-grid [row]="true">
  <ngx-jabuti-grid [column]="true" sm="12" md="2">
    <h1>Column1</h1>
  </ngx-jabuti-grid>
  <ngx-jabuti-grid [column]="true" sm="12" md="2">
    <h1>Column2</h1>
  </ngx-jabuti-grid>
  <ngx-jabuti-grid [column]="true" sm="12" md="2">
    <h1>Column3</h1>
  </ngx-jabuti-grid>

</ngx-jabuti-grid>

